<!-- BANNER -->
<div id="banner" class="col-span-3 font-serif static">
	<div id="title" class="text-4xl font-bold relative text-accent">NO</br>TOMORROW</br>CLUB</div>
	<div id="subtitle" class="text-3xl absolute top-16 text-secondary-content">Tomorrow Will Never Come</div>
</div>