<div class="text-nowrap ml-2 mb-2">
    <span>「</span><span id="hitokoto"></span><span>」</span>
</div>
<script
    src="https://v1.hitokoto.cn/?c=a&c=b&c=c&c=d&c=h&c=k&encode=js&select=%23hitokoto"
    defer></script>
