<!-- NAVBAR -->
<div id="navbar" class="grid grid-flow-col auto-cols-max gap-10">
    <a href="/" class="hover:text-primary">主页</a>
    <a href="/blog/" class="hover:text-primary">日记</a>
    <a href="/tags/" class="hover:text-primary">列表</a>
    <a href="https://f.jymuoyu.com/gallery/9bfzq41qzq/" target="_blank" class="hover:text-primary">相册</a>
    <a href="https://library.notomorrow.club/" target="_blank" class="hover:text-primary">图书馆</a>
</div>