<!-- 我的广播 -->
<link href="https://notestock.osa-p.net/_css/widget_mastodon.css" rel="stylesheet">
<script src="https://notestock.osa-p.net/_js/notestock_widget.js" defer></script>
	<div class="my-2 mastodon_design bg-base-100">
		<div class="ns-container">
			<ins data-title="ooorange的广播" data-acct="juju@f.jymuoyu.com" data-limit="10" data-nocss="1"></ins>
		</div>
	</div>