<div class="grid grid-flow-row">
    <!-- 个人简介 -->
    <div
        class="grid grid-flow-col auto-cols-auto place-items-start justify-start bg-base-200"
    >
        <img src="/ed.jpg" alt="avater" class="mx-2 my-2 size-36" />
        <div class="text-secondary my-2 mx-2">
            <p>常居：茶水间</p>
            <p>ooorange</p>
            <p>加入时间：2021-06-26</p>
        </div>
    </div>

    <div class="pl-2 py-2 bg-base-200">
        <p class="my-5">普通社畜，三分钟热度</p>
        <p class="my-5">Pokemon Sleep ID: 414228272809</p>
    </div>
    <!-- 我的广播 -->
    <div class="my-2 mx-2 text-accent">我的广播</div>
    <script>
        import "../js/notes.js";
    </script>
    <div id="ns-container" class="mx-2 w-5/6"></div>

    <!-- 我的关注 -->
    <div class="my-2 mx-2 text-accent">我的关注</div>
</div>
