---
import Banner from '../components/banner.astro';
import Navbar from '../components/navbar.astro';
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html data-theme="garden" lang="zh-cn">
    <head>
    	<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/safari-pinned-tab.svg" />
        <title>{pageTitle} :: No Tomorrow Club</title>
        <meta name="generator" content={Astro.generator} />
    </head>
    <body class="box-border mx-0 my-0 bg-base-100">
        <div class="mx-10 my-5 grid grid-cols-3 gap-10">
            <!-- BANNER -->
    		<Banner />
			<!-- MAIN BODY -->
			<div id="main" class="col-span-2">
				<!-- NAVBAR -->
				<Navbar />
			</div>
      		<!-- SIDE BAR -->
      		<div id="sidebar">
				<div class="grid grid-flow-row">
                    <slot />
				</div>
			</div>
        </div>
    </body>
	<foot>
	</foot>
</html>